



    <div style="color:black">
      
        <h3>TIPO DE CASO</h3>  
          <input type="hidden" name="$keyRegistro"  #$keyRegistro="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.$keyRegistro">  
              
          <label for="tipoCaso"><b>TIPO DE CASO</b></label>
          <input type="text"  id="tipoCaso"  name="tipoCaso" #tipoCaso ="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.tipoCaso" >
      <br>
      <h3>DATOS DE LA VÍCTIMA</h3> 
      
          <label for="num_identificacion"><b>NUMERO DE DPI</b></label>
          <input  id="num_identificacion"  name="num_identificacion" #num_identificacion ="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.num_identificacion">
      <br>
         <label for="nombreV"><b>NOMBRE</b></label>
          <input type="text"  id="nombreV"  name="nombreV" #nombreV ="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.nombreV" >
          
          <label for="apellidoV"><b>APELLIDO</b></label>
          <input type="text"  id="apellidoV"  name="apellidoV" #apellidoV ="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.apellidoV" >
          
          <label for="edadV"><b>EDAD*</b></label>
          <input   id="edadV"  name="edadV" #edadV ="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.edadV" >
      <br>
          <label for="generoV"><b>GENERO*</b></label>
          <input type="text"  id="generoV"  name="generoV" #generoV ="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.generoV" >
          
          <label for="idiomaV"><b>IDIOMA*</b></label>
          <input type="text"  id="idiomaV"  name="idiomaV" #idiomaV ="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.idiomaV">
              
          <label for="estadoCivilV"><b>ESTADO CIVIL*</b></label>
          <input type="text"  id="estadoCivilV"  name="estadoCivilV" #estadoCivilV ="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.estadoCivilV" >
        <br>
          <label for="telefonoV"><b>TELÉFONO DE CASA O OFICINA*</b></label>
          <input   id="telefonoV"  name="telefonoV" #telefonoV ="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.telefonoV" >
             
          <label for="celularV"><b>TELÉFONO DE CELULAR U OTRO*</b></label>
          <input   id="celularV"  name="celularV" #celularV ="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.celularV" >
      <br>
          <label for="ocupacionV"><b>OCUPACIÓN*</b></label>
          <input  id="ocupacionV"  name="ocupacionV" #ocupacionV ="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.ocupacionV" >
      <br>
          <label for="escolaridadV"><b>ESCOLARIDAD*</b></label>
          <input   id="escolaridadV"  name="escolaridadV" #escolaridadV ="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.escolaridadV" >
      <br>
          <label for="domicilioV"><b>DOMICILIO/DIRECCIÓN*</b></label>
          <input type="text"  id="domicilioV"  name="domicilioV" #domicilioV ="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.domicilioV" >
      <br>
          <label for="lTrabajoV"><b>LUGAR DE TRABAJO*</b></label>
          <input type="text"  id="lTrabajoV"  name="lTrabajoV" #lTrabajoV ="ngModel" 
          [(ngModel)]="casoNuevoService.selecCaso.lTrabajoV" >
      
          <h3>DATOS DE LA CONTRAPARTE</h3>
      <label for="dpiC"><b>DPI*</b></label>
      <input   id="dpiC"  name="dpiC" #dpiC ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.dpiC" >
      <br>
      <label for="nombreC"><b>NOMBRE*</b></label>
      <input  id="nombreC"  name="nombreC" #nombreC ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.nombreC" >
      
      <label for="apellidoC"><b>APELLIDO*</b></label>
      <input  id="apellidoC"  name="apellidoC" #apellidoC ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.apellidoC" >
      
      <label for="edadC"><b>EDAD*</b></label>
      <input  id="edadC"  name="edadC" #edadC ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.edadC" >
        
      <br>
      <label for="generoC"><b>GENERO*</b></label>
      <input   id="generoC"  name="generoC" #generoC ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.generoC" >
      
      <label for="idiomaC"><b>IDIOMA*</b></label>
      <input   id="idiomaC"  name="idiomaC" #idiomaC ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.idiomaC" >
      
      <label for="estadoCivilC"><b>ESTADO CIVIL*</b></label>
      <input  id="estadoCivilC"  name="estadoCivilC" #estadoCivilC ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.estadoCivilC" >
      <br>
      
      <label for="telefonoC"><b>TELÉFONO DE CASA/OFICINA*</b></label>
      <input id="telefonoC"  name="telefonoC" #telefonoC ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.telefonoC" >
         
      <label for="celularC"><b>TELÉFONO DE CELULAR/OTRO*</b></label>
      <input   id="celularC"  name="celularC" #celularC ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.celularC" >
      <br>
      <label for="ocupacionC"><b>OCUPACIÓN*</b></label>
      <input  class="form-control" id="ocupacionC"  name="ocupacionC" #ocupacionC ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.ocupacionC" >
          
      <label for="escolaridadC"><b>ESCOLARIDAD*</b></label>
      <input  class="form-control" id="escolaridadC"  name="escolaridadC" #escolaridadC ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.escolaridadC" >
      
      <label for="domicilioC"><b>DOMICILIO O DIRECCIÓN*</b></label>
      <input  class="form-control" id="domicilioC"  name="domicilioC" #domicilioC ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.domicilioC" >
       
      <label for="lTrabajoC"><b>LUGAR DE TRABAJO*</b></label>
      <input  class="form-control" id="lTrabajoC"  name="lTrabajoC" #lTrabajoC ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.lTrabajoC">
      
      <h3>DIAGNÓSTICO</h3>
      <label for="descripcion"><b>DESCRIPCIÓN DE LA SITUACIÓN*</b></label>
      <input  class="form-control" id="descripcion"  name="descripcion" #descripcion ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.descripcion" >
      
      
      <label for="diagnostico"><b>DIAGNÓSTICO DEL CASO*</b></label>
      <input  class="form-control" id="diagnostico"  name="diagnostico" #diagnostico ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.diagnostico" >
      
      <label for="acciones"><b>ACCIONES*</b></label>
      <input  class="form-control" id="acciones"  name="acciones" #acciones ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.acciones" >
      
      <label for="estatus"><b>ESTATUS*</b></label>
      <input  class="form-control" id="estatus"  name="estatus" #aestatus ="ngModel" 
      [(ngModel)]="casoNuevoService.selecCaso.estatus" >
      </div>
      <br>
      <div>
      <label ><b>Firma</b></label>
      <label ><b>__________________</b></label>
      <br>
      <label for="estatus"><b>LICDA. AURA CHOJLAN</b></label>
      </div>
      
      