
<div>
        <mat-toolbar
                id="mainbarra"
                color="primary">
                SISTEMA DE MAPEO DE QUETZALTENANGO
                    <span class="example-spacer"></span>
                    
                       <nav class="nav nav-pills nav-justified">
                                
                        
                <div class="btn-group btn-group-toggle" data-toggle="buttons">  
                
                                        
                           <button type="button" class="btn btn-primary"
                                   (click)="loginGoogle()"
                                   >INICIO 
                           </button>        
                
                </div>     
                                                     
        
                   </nav>
                
                              
        </mat-toolbar>
         
</div>
<router-outlet></router-outlet> 