

<form #nuevo="ngForm">      


  <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            FECHA
          </mat-panel-title>
          <mat-panel-description>
            INGRESE LOS SIGUIENTES DATOS  
            <mat-icon>alarm</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

  <div style="color: blue;">
  <input type="hidden" name="$keyRegistro"  #$keyRegistro="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.$keyRegistro">  
      
  <label for="tipoCaso"><b>TIPO DE CASO*</b></label>
  <input type="text" class="form-control" id="tipoCaso"  name="tipoCaso" #tipoCaso ="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.tipoCaso" placeholder="INGRESE EL TIPO DE CASO">

 <label for="num_identificacion"><b>NUMERO DE IDENTIFICACIÓN*</b></label>

  <input  type="number"  min="1111111110101" max="9999999999999" step="123456249"   class="form-control" id="num_identificacion"  name="num_identificacion" #num_identificacion ="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.num_identificacion" placeholder="INGRESE EL DPI" >

  
  </div>
  <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()"> SIGUIENTE </button>
    </mat-action-row>
  </mat-expansion-panel>
<br>

  <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
              DATOS DE LA PERSONA
              </mat-panel-title>
              <mat-panel-description>
                INGRESE LOS SIGUIENTES DATOS  
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
          <div style="color: blue;">
  <label for="nombreV"><b>NOMBRE*</b></label>
  <input type="text" class="form-control" id="nombreV"  name="nombreV" #nombreV ="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.nombreV" placeholder="INGRESE LOS NOMBRES">
  
  <label for="apellidoV"><b>APELLIDO*</b></label>
  <input type="text" class="form-control" id="apellidoV"  name="apellidoV" #apellidoV ="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.apellidoV" placeholder="INGRESE LOS APELLIDOS ">
  
  <label for="edadV"><b>EDAD*</b></label>
  <input  class="form-control" id="edadV"  name="edadV" #edadV ="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.edadV" placeholder="INGRESE LA EDAD ">
  
  <label for="generoV"><b>GENERO*</b></label>
  <input type="text" class="form-control" id="generoV"  name="generoV" #generoV ="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.generoV" placeholder="INGRESE EL GENERO ">
  
  <label for="idiomaV"><b>IDIOMA*</b></label>
  <input type="text" class="form-control" id="idiomaV"  name="idiomaV" #idiomaV ="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.idiomaV" placeholder="INGRESE EL IDIOMA MATERNO ">
      
  <label for="estadoCivilV"><b>ESTADO CIVIL*</b></label>
  <input type="text" class="form-control" id="estadoCivilV"  name="estadoCivilV" #estadoCivilV ="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.estadoCivilV" placeholder="INGRESE EL ESTADO CIVIL ">
  
  <label for="telefonoV"><b>TELÉFONO DE CASA O OFICINA*</b></label>
  <input  type="tel" pattern="[0-9]{9}" class="form-control" id="telefonoV"  name="telefonoV" #telefonoV ="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.telefonoV" placeholder="INGRESE EL TELÉFONO ">
     
  <label for="celularV"><b>TELÉFONO DE CELULAR U OTRO*</b></label>
  <input type="tel" pattern="[0-9]{9}" class="form-control" id="celularV"  name="celularV" #celularV ="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.celularV" placeholder="INGRESE EL CELULAR ">

  <label for="ocupacionV"><b>OCUPACIÓN*</b></label>
  <input  class="form-control" id="ocupacionV"  name="ocupacionV" #ocupacionV ="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.ocupacionV" placeholder="INGRESE LA OCUPACION ">
  
  <label for="escolaridadV"><b>ESCOLARIDAD*</b></label>
  <input  class="form-control" id="escolaridadV"  name="escolaridadV" #escolaridadV ="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.escolaridadV" placeholder="INGRESE EL ULTIMO GRADO CURSADO">

  <label for="domicilioV"><b>DOMICILIO/DIRECCION*</b></label>
  <input type="text" class="form-control" id="domicilioV"  name="domicilioV" #domicilioV ="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.domicilioV" placeholder="INGRESE EL DOMICILIO ">

  <label for="lTrabajoV"><b>LUGAR DE TRABAJO*</b></label>
  <input type="text" class="form-control" id="lTrabajoV"  name="lTrabajoV" #lTrabajoV ="ngModel" 
  [(ngModel)]="casoNuevoService.selecCaso.lTrabajoV" placeholder="INGRESE EL LUGAR DE TRABAJO">
          </div>
  <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()"> ANTERIOR </button>
      <button mat-button color="primary" (click)="nextStep()"> SIGUIENTE </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<br>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
      DATOS DE LA CONTRAPARTE
      </mat-panel-title>
      <mat-panel-description>
        INGRESE LOS DATOS DE LA CONTRAPARTE 
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div style="color: blue;">

<label for="dpiC"><b>DPI*</b></label>
<input  type="number"  min="1111111110101" max="9999999999999" step="50"  class="form-control" id="dpiC"  name="dpiC" #dpiC ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.dpiC" placeholder="INGRESE EL DPI ">
      

<label for="nombreC"><b>NOMBRE*</b></label>
<input  class="form-control" id="nombreC"  name="nombreC" #nombreC ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.nombreC" placeholder="INGRESE LOS NOMBRES">

<label for="apellidoC"><b>APELLIDO*</b></label>
<input  class="form-control" id="apellidoC"  name="apellidoC" #apellidoC ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.apellidoC" placeholder="INGRESE LOS APELLIDOS">

<label for="generoC"><b>GENERO*</b></label>
<input  class="form-control" id="generoC"  name="generoC" #generoC ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.generoC" placeholder="INGRESE EL GENERO">

<label for="edadC"><b>EDAD*</b></label>
<input  class="form-control" id="edadC"  name="edadC" #edadC ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.edadC" placeholder="INGRESE LA EDAD ">
  
<label for="idiomaC"><b>IDIOMA*</b></label>
<input  class="form-control" id="idiomaC"  name="idiomaC" #idiomaC ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.idiomaC" placeholder="INGRESE EL IDIOMA MATERNO">

<label for="estadoCivilC"><b>ESTADO CIVIL*</b></label>
<input  class="form-control" id="estadoCivilC"  name="estadoCivilC" #estadoCivilC ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.estadoCivilC" placeholder="INGRESE EL ESTADO CIVIL">

<label for="telefonoC"><b>TELÉFONO DE CASA/OFICINA*</b></label>
<input type="tel" pattern="[0-9]{9}"  class="form-control" id="telefonoC"  name="telefonoC" #telefonoC ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.telefonoC" placeholder="INGRESE EL TELÉFONO">
 
<label for="celularC"><b>TELÉFONO DE CELULAR/OTRO*</b></label>
<input  type="tel" pattern="[0-9]{9}" class="form-control" id="celularC"  name="celularC" #celularC ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.celularC" placeholder="INGRESE EL CELULAR ">

<label for="ocupacionC"><b>OCUPACIÓN*</b></label>
<input  class="form-control" id="ocupacionC"  name="ocupacionC" #ocupacionC ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.ocupacionC" placeholder="INGRESE LA OCUPACIÓN ">
  
<label for="escolaridadC"><b>ESCOLARIDAD*</b></label>
<input  class="form-control" id="escolaridadC"  name="escolaridadC" #escolaridadC ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.escolaridadC" placeholder="INGRESE EL ULTIMO GRADO CURSADO">

<label for="domicilioC"><b>DOMICILIO O DIRECCIÓN*</b></label>
<input  class="form-control" id="domicilioC"  name="domicilioC" #domicilioC ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.domicilioC" placeholder="INGRESE EL DOMICILIO ">

<label for="lTrabajoC"><b>LUGAR DE TRABAJO*</b></label>
<input  class="form-control" id="lTrabajoC"  name="lTrabajoC" #lTrabajoC ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.lTrabajoC" placeholder="INGRESE EL LUGAR DE TRABAJO">

    </div>


    <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">ANTERIOR</button>
      <button mat-button color="primary" (click)="nextStep()">SIGUIENTE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<br>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        DIAGNÓSTICO
      </mat-panel-title>
      <mat-panel-description>
        INGRESE EL DIAGNÓSTICO 
        <mat-icon>alarm</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
<div style="color: blue;">

<label for="descripcion"><b>DESCRIPCIÓN DE LA SITUACIÓN*</b></label>
<input  class="form-control" id="descripcion"  name="descripcion" #descripcion ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.descripcion" placeholder="INGRESE UNA DESCRIPCION DEL CASO">


<label for="diagnostico"><b>DIAGNOSTICO DEL CASO*</b></label>
<input  class="form-control" id="diagnostico"  name="diagnostico" #diagnostico ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.diagnostico" placeholder="INGRESE UN DIAGNOSTICO  DEL CASO">

<label for="exampleInputFile"><b>Subir archivo*</b></label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">AGREGAR PRUEBAS DEL CASO </small>
  

<label for="acciones"><b>ACCIONES*</b></label>
<input  class="form-control" id="acciones"  name="acciones" #acciones ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.acciones" placeholder="INGRESE LAS ACCIONES  DEL CASO">


<label for="estatus"><b>ESTATUS*</b></label>
    <select class="form-control" id="estatus"  name="estatus" #estatus ="ngModel" 
    [(ngModel)]="casoNuevoService.selecCaso.estatus" placeholder="SELECCIONE EL ESTADO DEL CASO">
      <option>ACTIVO CON SEGUIMIENTO</option>
      <option>ACTIVO</option>
      <option>RETENIDO</option>
      <option>ENVIADO </option>
      <option>DESACTIVADO</option>
    </select>

    <label for="estatus"><b>ESTATUS*</b></label>
    <input  class="form-control" id="estatus"  name="estatus" #estatus ="ngModel" 
    [(ngModel)]="casoNuevoService.selecCaso.estatus" >

<label for="ob"><b>OBSERVACIÓNES*</b></label>
<input  class="form-control" id="ob"  name="ob" #ob ="ngModel" 
[(ngModel)]="casoNuevoService.selecCaso.ob" placeholder="OBSERVACIÓNES">
</div>

<mat-action-row>
  <button mat-button color="warn" (click)="prevStep()">ANTERIOR</button>
  <button mat-button color="primary" (click)="nextStep()"> FIN </button>
</mat-action-row>
</mat-expansion-panel>
</mat-accordion>
<br>





</mat-accordion>

<div class="text-center">
  <div class="btn-group btn-group-sm text-center">
      <button  type="submit"  class="btn btn-outline-primary form-control"  (click)="onSumit(nuevo)">
        <i class="fas fa-plus-circle"></i>   AGREGAR | MODIFICAR
      </button>
      <button type="button" (click)="onPrint(casolista)" class="btn btn-outline-danger btn-sm" routerLink="/imprimir"> IMPRIMIR  </button>
  </div>
  </div>

</form>




