
<table class="table table-hover">
        <thead>
        <tr> 
       <td> NOMBRE </td> 
       <td> COORDENADAS </td>
            </tr>
        </thead>
        <tbody>
                        <tr *ngFor="let mapalista of mapaList">
                        <td>{{mapalista.nombrelugar}}</td>
                        <td>{{mapalista.coordenadas}}</td>
                        <td>
                              <a class="btn btn-primary " href="https://www.google.com/maps" target="_blank"> VAMOS </a>
                        </td>
                        </tr>
                    </tbody>

</table>
<br> <br>
